---

---

<doctype html>
	<html lang="en">
		<head>
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width" />
			<link rel="icon" type="image/svg+xml" href="public/favicon.svg" />
			<title>Accueil</title>
		</head>
		<body>
			<h1>Accueil</h1>
		</body>
	</html>
</doctype>
