---
import Base from "../layouts/Base.astro";
import Card from "../components/Card.astro";
import { allMaisons } from "../backend.mjs";

const offres = await allMaisons();
---

<Base titre="Offres">
    <h1>Offres</h1>
    <div class="flex flex-col gap-6" x-data="{ showFavorites: false }">
        <button
            class="bg-gray-200 block w-auto px-10 py-2 self-start rounded-lg"
            @click="showFavorites = !showFavorites"
        >
            <span x-show="!showFavorites">Afficher les favoris</span>
            <span x-show="showFavorites">Afficher tout</span>
        </button>

        <div
            class="grid grid-cols-3 gap-5"
            x-show="!showFavorites"
            x-transition.duration.200ms
        >
            {offres.map((offre) => <Card {...offre} />)}
        </div>
        <div class="flex flex-col gap-6" x-show="showFavorites">
            {offres.map((offre) => offre.favori && <Card {...offre} />)}
        </div>
    </div>
</Base>
