---
import Header from "../components/header.astro";
---

<doctype html>
    <html lang="en">
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width" />
            <link rel="icon" type="image/svg+xml" href="public/favicon.svg" />
            <title>Offres</title>
        </head>
        <body>
            <nav>
                <a href="/">Accueil</a>
                <a href="/offres">Offres</a>
            </nav>
            <h1>Offres</h1>
        </body>
    </html>
</doctype>
