---
import { byPrice } from "../../../backend.mjs";
import Base from "../../../layouts/Base.astro";
import Card from "../../../components/Card.astro";

const { prix } = Astro.params;
const offres = await byPrice(prix);
---

<Base>
    <h2 class="">Offres à moins de {prix} €</h2>
    <div class="grid grid-cols-3 gap-5">
        {offres.map((offre) => <Card {...offre} />)}
    </div>
</Base>
