---
import { bySurface } from "../../../backend.mjs";
import Base from "../../../layouts/Base.astro";

const { surface } = Astro.params;
const offres = await bySurface(surface);
---

<Base>
    <h2>Offres de {surface} m²</h2>

    <ul>
        {
            offres.map((offre) => (
                <li>
                    <a href={`/offres/${offre.id}`}>
                        {offre.nom} - {offre.surface} m²
                    </a>
                </li>
            ))
        }
    </ul>
</Base>
