---
import { bySurface } from "../../../backend.mjs";
import Base from "../../../layouts/Base.astro";

const { surface } = Astro.params;
const offre = await bySurface(surface);
---

<Base> 
    <h2>Offres de {surface} m²</h2>
    {
        offre.map((offre) => (
            <li>
                <a href=""></a>
            </li>
    }
    





</Base>
